[Desktop Entry]
Name=Caps-to-Ctrl
GenericName=Remaps deprecated capslock key.
Comment=Remaps the caps-lock key to a second control key
Exec=/usr/bin/setxkbmap -option '' -option 'ctrl:nocaps' -option 'ctrl:swapcaps'
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=false
