[Desktop Entry]
Name=Caps-to-Ctrl
GenericName=Remaps deprecated capslock key.
Comment=Remaps the caps-lock key to a second control key
Exec=/usr/bin/setxkbmap -option 'ctrl:nocaps'
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=false
