# -*- mode: snippet -*-
# Insert the C++ namespace definitions.
# name: Namespace C++
# key: nsp
# type: snippet
# contributer: Gustaf Waldemarson
# --
namespace ${1:Namespace}
{

    `(or yas/selected-text (car kill-ring))`
$0
} /* namespace $1 */