host tommyosrv
     HostName tommyolofsson.se
     User gitolite
     IdentityFile ~/.ssh/xaldew_vm_rsa

host meldanyasrv
     HostName meldanya.se
     Port 27148
     User gitolite
     IdentityFile ~/.ssh/xaldew_vm_rsa

host waldesrv
     HostName walde.dyndns-server.com
     User git
     IdentityFile ~/.ssh/sneaker_key

# host waldesrv_root
#      HostName walde.dyndns-server.com
#      User git
#      IdentityFile ~/.ssh/<insert_key>
